<div class="p-6 text-center">
  <h1 class="text-2xl font-bold mb-4">Create Event</h1>
</div>

<p-toast></p-toast>

<p-confirmDialog></p-confirmDialog>

<form autocomplete="off" [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <div class="card flex flex-col items-center">
    <p-stepper [value]="1">
      <p-step-item [value]="1">
        <p-step>STEP 1</p-step>
        <p-step-panel>
          <ng-template #content let-activateCallback="activateCallback">
            <div class="flex flex-col w-105">
              <h1 class="font-bold size-10">Information</h1>
              @if (hasFormLevelErrors()) {
              <div class="mt-5 form-level-errors">
                @for (error of getFormLevelErrors(); track error) {
                <p-message
                  severity="error"
                  [text]="error"
                  class="w-full mb-1"
                ></p-message>
                }
              </div>
              }

              <div class="flex-auto flex flex-col mt-2 gap-2">
                <div class="field">
                  <p-floatlabel>
                    <input
                      pInputText
                      id="eventName"
                      formControlName="eventName"
                      class="w-100"
                      [class.ng-invalid]="isFieldInvalid('eventName')"
                      [class.ng-dirty]="isFieldInvalid('eventName')"
                    />
                    <label for="eventName">Event Name</label>
                  </p-floatlabel>
                  @if (isFieldInvalid('eventName')) {
                  <small class="p-error mt-1 block"
                    >{{ getFieldErrorMessage('eventName') }}</small
                  >
                  }
                </div>

                <div class="field">
                  <p-floatlabel>
                    <p-select
                      inputId="eventTypeId"
                      [options]="eventTypes()"
                      optionLabel="name"
                      optionValue="id"
                      formControlName="eventTypeId"
                      class="w-100"
                      [class.ng-invalid]="isFieldInvalid('eventTypeId')"
                      [class.ng-dirty]="isFieldInvalid('eventTypeId')"
                    />
                    <label for="eventTypeId">Event Type</label>
                  </p-floatlabel>
                  @if (isFieldInvalid('eventTypeId')) {
                  <small class="p-error mt-1 block"
                    >{{ getFieldErrorMessage('eventTypeId') }}</small
                  >
                  }
                </div>

                <div class="field">
                  <p-floatlabel>
                    <p-select
                      inputId="modality"
                      [options]="modalities()"
                      optionLabel="name"
                      optionValue="id"
                      formControlName="modality"
                      class="w-100"
                      [class.ng-invalid]="isFieldInvalid('modality')"
                      [class.ng-dirty]="isFieldInvalid('modality')"
                    />
                    <label for="modality">Modality</label>
                  </p-floatlabel>
                  @if (isFieldInvalid('modality')) {
                  <small class="p-error mt-1 block"
                    >{{ getFieldErrorMessage('modality') }}</small
                  >
                  }
                </div>

                <div class="field">
                  <p-floatlabel>
                    <p-datepicker
                      formControlName="startDate"
                      class="w-100"
                      inputId="startDate"
                      showIcon
                      iconDisplay="input"
                      [class.ng-invalid]="isFieldInvalid('startDate')"
                      [class.ng-dirty]="isFieldInvalid('startDate')"
                    />
                    <label for="startDate">Start Date</label>
                  </p-floatlabel>
                  @if (isFieldInvalid('startDate')) {
                  <small class="p-error mt-1 block"
                    >{{ getFieldErrorMessage('startDate') }}</small
                  >
                  }
                </div>

                <div class="field">
                  <p-floatlabel>
                    <p-datepicker
                      formControlName="endDate"
                      class="w-100"
                      inputId="endDate"
                      showIcon
                      iconDisplay="input"
                      [class.ng-invalid]="isFieldInvalid('endDate')"
                      [class.ng-dirty]="isFieldInvalid('endDate')"
                    />
                    <label for="endDate">End Date</label>
                  </p-floatlabel>
                  @if (isFieldInvalid('endDate')) {
                  <small class="p-error mt-1 block"
                    >{{ getFieldErrorMessage('endDate') }}</small
                  >
                  }
                </div>

                
                @if (myForm.get('modality')?.value?.name !== 'Offline') {
                <div class="field">
                  <p-floatlabel>
                    <input
                      type="text"
                      pInputText
                      id="eventLink"
                      formControlName="eventLink"
                      class="w-100"
                      [class.ng-invalid]="isFieldInvalid('eventLink')"
                      [class.ng-dirty]="isFieldInvalid('eventLink')"
                    />
                    <label for="eventLink">Virtual platform link</label>
                  </p-floatlabel>
                  @if (isFieldInvalid('eventLink')) {
                  <small class="p-error mt-1 block"
                    >{{ getFieldErrorMessage('eventLink') }}</small
                  >
                  }
                </div>
                }
              </div>
            </div>
            <div class="py-6 step-navigation">
              <p-button label="Next" (onClick)="activateCallback(2)" />
            </div>
          </ng-template>
        </p-step-panel>
      </p-step-item>

      <p-step-item [value]="2">
        <p-step>STEP 2</p-step>
        <p-step-panel>
          <ng-template #content let-activateCallback="activateCallback">
            <div class="flex flex-col w-105">
              <h1 class="font-bold size-10">Address</h1>
              <div class="flex mt-5 flex-col gap-2">
                <div class="field">
                  <p-floatlabel>
                    <input
                      pInputText
                      id="addressLine1"
                      formControlName="addressLine1"
                      class="w-100"
                      [class.ng-invalid]="isFieldInvalid('addressLine1')"
                      [class.ng-dirty]="isFieldInvalid('addressLine1')"
                    />
                    <label for="addressLine1">Address Line 1</label>
                  </p-floatlabel>
                  @if (isFieldInvalid('addressLine1')) {
                  <small class="p-error mt-1 block"
                    >{{ getFieldErrorMessage('addressLine1') }}</small
                  >
                  }
                </div>

                <div class="field">
                  <p-floatlabel>
                    <input
                      pInputText
                      id="addressLine2"
                      formControlName="addressLine2"
                      class="w-100"
                    />
                    <label for="addressLine2">Address Line 2 (Optional)</label>
                  </p-floatlabel>
                </div>

                <div class="field">
                  <p-floatlabel>
                    <input
                      pInputText
                      id="postalCode"
                      formControlName="postalCode"
                      class="w-100"
                    />
                    <label for="postalCode">Postal Code</label>
                  </p-floatlabel>
                </div>

                <!-- <iframe src="https://www.google.com/maps/embed?..." width="400" height="300" style="border: 0"
                  allowfullscreen="" loading="lazy"></iframe> -->
              </div>
            </div>
            <div class="flex py-6 gap-2 step-navigation">
              <p-button
                label="Back"
                severity="secondary"
                (onClick)="activateCallback(1)"
              />
              <p-button label="Next" (onClick)="activateCallback(3)" />
            </div>
          </ng-template>
        </p-step-panel>
      </p-step-item>

      <p-step-item [value]="3">
        <p-step>STEP 3</p-step>
        <p-step-panel>
          <ng-template #content let-activateCallback="activateCallback">
            <div class="flex flex-col w-105 gap-6">
              <h1 class="font-bold size-10">Image</h1>

              <div class="field">
                <p-fileupload
                  name="files"
                  (onSelect)="onFileSelect($event)"
                  (onRemove)="onFileRemove($event)"
                  [multiple]="false"
                  accept="image/*"
                  maxFileSize="1000000"
                  mode="advanced"
                  [auto]="false"
                  [showUploadButton]="false"
                  [showCancelButton]="false"
                  chooseLabel="Select Image"
                  class="w-full"
                >
                </p-fileupload>
              </div>

              <div class="field">
                <p-floatlabel>
                  <input
                    pInputText
                    id="imageCaption"
                    formControlName="imageCaption"
                    class="w-100"
                  />
                  <label for="imageCaption">Image Caption (Optional)</label>
                </p-floatlabel>
              </div>
            </div>
            <div class="flex py-6 gap-60 step-navigation">
              <p-button
                label="Back"
                severity="secondary"
                (onClick)="activateCallback(2)"
              />
              <button pButton type="submit" class="p-button-success">
                <i class="pi pi-check"></i>
                <span>Save</span>
              </button>
            </div>
          </ng-template>
        </p-step-panel>
      </p-step-item>
    </p-stepper>
  </div>
</form>
