@let currentUsers = currentUser; @if (isAuthenticated) {
<div class="min-h-screen bg-gray-50">
  <p-menubar [model]="menuItems" class="border-b">
    <ng-template pTemplate="end">
      <div class="flex items-center gap-2">
        <span class="text-sm text-gray-600"
          >Welcome, {{ currentUsers?.firstName }}</span
        >
        <p-button
          icon="pi pi-sign-out"
          [text]="true"
          severity="secondary"
          (onClick)="logout()"
          pTooltip="Logout"
        />
      </div>
    </ng-template>
  </p-menubar>

  <main class="container mx-auto">
    <router-outlet />
  </main>
</div>

} @else {
<router-outlet />
}
