<div class="card flex justify-center">
  @if (images().length > 0) {
  <div class="grid grid-cols-12 gap-4" style="max-width: 800px">
    @for (image of images(); track image.id; let index = $index) {
    <div class="col-span-4">
      <img
        [src]="image.thumbnailUrl || image.imageUrl"
        [alt]="image.title"
        style="cursor: pointer"
        (click)="imageClick(index)"
      />
    </div>
    } @empty {
    <div class="col-span-12 text-center text-sm text-gray-500">
      No hay imágenes para mostrar.
    </div>
    }
  </div>

  <p-galleria
    [value]="images()"
    [(visible)]="displayCustom"
    [(activeIndex)]="activeIndex"
    [responsiveOptions]="responsiveOptions"
    [containerStyle]="{ 'max-width': '850px' }"
    [numVisible]="7"
    [circular]="true"
    [fullScreen]="true"
    [showItemNavigators]="true"
    [showThumbnails]="false"
  >
    <ng-template pTemplate="item" let-item>
      <img
        [src]="item.imageUrl"
        [alt]="item.title"
        style="width: 100%; display: block"
      />
    </ng-template>
  </p-galleria>
  } @else {
  <p class="text-center">No hay imágenes disponibles por el momento.</p>
  }
</div>
