
<div class="card flex align-middle justify-around">
  <image-file-upload />

  <p-galleria [value]="images()" [showItemNavigators]="true" [responsiveOptions]="responsiveOptions" [circular]="true"
    [numVisible]="5" [containerStyle]="{ 'max-width': '640px' }">
    <!-- Imagen grande -->
    <ng-template pTemplate="item" let-item>
      <img [assetsSrc]="item.imageUrl" [alt]="item.description || item.title" style="width: 100%; display: block" />
    </ng-template>

    <!-- Miniaturas -->
    <ng-template pTemplate="thumbnail" let-item>
      <img [assetsSrc]="item.thumbnailUrl ?? item.imageUrl" [alt]="item.description || item.title"
        style="display: block" />
    </ng-template>
  </p-galleria>
</div>